# Exploration Exercises

1. As with encoded vs. unencoded data, we recommend exploring un-scaled data in your EDA process.

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr, spearmanr
from sklearn.model_selection import train_test_split


# turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")

# acquire data
import env
import wrangle

2. Make sure to perform a train, validate, test split before and use only your train dataset to explore the relationships between independent variables with other independent variables or independent variables with your target variable.

In [2]:
train, validate, test = wrangle.wrangle_zillow()
train

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
2086451,3,2.5,1746,329842,1979,3281.70,6059
1608617,2,2.0,1503,378681,1980,3779.86,6059
854792,4,4.0,2469,3464540,1950,41401.23,6037
2066831,2,1.0,1507,78173,1952,1477.34,6037
2508263,2,2.0,1150,54832,1966,1139.31,6037
...,...,...,...,...,...,...,...
2578047,1,1.0,678,294384,1990,3804.80,6059
972773,4,2.0,1392,173600,1955,2840.54,6037
2204227,3,2.0,1370,339532,1977,3854.74,6059
994295,2,3.0,1204,305000,1979,3747.38,6037
2977560,2,2.0,1280,394451,1986,4674.76,6037

3. Write a function named `plot_variable_pairs` that accepts a dataframe as input and plots all of the pairwise relationships along with the regression line for each pair.

In [19]:
def plot_variable_pairs(df):
    paireg = sns.pairplot(df, kind="reg", plot_kws={'line_kws':{'color':'red'}}, corner=True)
    return paireg

In [ ]:
plot_variable_pairs(train[['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'taxvaluedollarcnt', 'yearbuilt']])

4. Write a function named `plot_categorical_and_continuous_vars` that accepts your dataframe and the name of the columns that hold the continuous and categorical features and outputs 3 different plots for visualizing a categorical variable and a continuous variable.

In [ ]:
def plot_categorical_and_continuous_vars(df):

5. Save the functions you have written to create visualizations in your explore.py file. Rewrite your notebook code so that you are using the functions imported from this file.

6. Use the functions you created above to explore your Zillow train dataset in your explore.ipynb notebook.

7. Come up with some initial hypotheses based on your goal of predicting property value.

8. Visualize all combinations of variables in some way.

9. Run the appropriate statistical tests where needed.

10. What independent variables are correlated with the dependent variable, home value?

11. Which independent variables are correlated with other independent variables (bedrooms, bathrooms, year built, square feet)?

12. Make sure to document your takeaways from visualizations and statistical tests as well as the decisions you make throughout your process.

13. Explore your dataset with any other visualizations you think will be helpful.